**Group Members**:
- Afonso Cadete | 20211519@novaims.unl.pt
- Catarina Oliveira | 20211616@novaims.unl.pt
- Joana Rosa | 20211516@novaims.unl.pt
- Rita Centeno | 20211579@novaims.unl.pt

# 1. Jupyter Notebook - Combine
## Data Combination

In the following cell, the needed libraries for the program to run were imported (Pandas and Numpy).

In [1]:
# Importation of relevant libraries for the combination of all data in only one single dataset
import pandas as pd
import os

Next are defined the cells which contain the memory path that leads to the folders where the final combined dataset will be saved (variable path) and where the collected data is already stored in the computer's memory (data_path).

In [2]:
path = 'C:\\Users\\joana\\Documents\\Joana Rita\\Universidade\\Data Science\\Year 2\\1st Semester\\Programming for Data Science\\1st Project\\'

In [3]:
data_path = path + 'DB_response\\'

This cell serves the purpose of showing the denominations of the folders within the collected data folder (name of the folders inside the location defined as data_path).

In [4]:
os.listdir(data_path)

['cost', 'demo', 'mnt', 'other', 'purchases', 'response']

In the following cell is the automatized code for the combination of all collected data in only one dataframe.

In [5]:
# Automatized way of combining all the collected data in only one dataframe.
data = []
for folder in os.listdir(data_path):
    dt = []
    folder_path = data_path + folder
    for file in os.listdir(folder_path):             
        file_path = folder_path + '\\' + file
        if file.endswith('xlsx'):
            dt.append(pd.read_excel(file_path, index_col = 'ID'))                                 
        else:
            dt.append(pd.read_csv(file_path, index_col = 'ID'))
    data.append(pd.concat(dt, axis = 0))
data = pd.concat(data, axis = 1)

The final combined dataset was called, in order to verify if the combination of the data was successful.

In [6]:
data

,CostContact,Revenue,BirthYear,Education,MaritalStatus,NKids,NTeens,Income,MntWines,MntFruits,...,NWebPurchases,NCatalogPurchases,NStorePurchases,NWebVisitsMonth,Response1,Response2,Response3,Response4,Response5,Response
ID,,,,,,,,,,,,,,,,,,,,,
5314,3,11,1951.0,Graduation,Together,0.0,1.0,40689.0,270,3,...,7,1,5,8,0,0,0,0,0,0
2493,3,11,1966.0,Graduation,Married,0.0,1.0,61286.0,356,0,...,7,1,8,5,0,0,0,0,0,0
4931,3,11,1977.0,Graduation,Together,0.0,0.0,157146.0,1,0,...,0,28,0,1,0,0,0,0,0,0
1100,3,11,1960.0,Master,Together,1.0,2.0,41275.0,24,4,...,3,1,3,5,0,0,0,0,0,0
7224,3,11,1977.0,Graduation,Married,NaN,NaN,31353.0,10,0,...,1,1,2,8,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,3,11,1973.0,PhD,Married,1.0,0.0,37401.0,19,3,...,2,0,3,7,0,0,0,0,0,0
5181,3,11,1982.0,Basic,Single,1.0,0.0,24367.0,2,4,...,1,0,2,9,0,0,0,0,0,0
5758,3,11,1982.0,Graduation,Married,0.0,0.0,65169.0,1074,0,...,10,4,13,6,1,1,1,0,1,1
9729,3,11,1955.0,Graduation,Widow,1.0,1.0,58275.0,189,10,...,8,2,7,7,0,0,0,0,0,0
10478,3,11,1950.0,PhD,Married,1.0,1.0,55517.0,483,0,...,11,1,6,9,0,0,0,0,0,1

Finally, in this last cell of the notebook, the combined dataframe is exported to the designated location in variable `path` in an Excel format.

In [7]:
data.to_excel(path + "1Combine.xlsx")